<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>work</title>
</head>

<body>
  <div class="page row justify-content-center align-items-center font">
    <div class="page2">
      <ul>
        <li>第六周作业</li>
        <div class="page3">
          <li><a href="https://github.com/jinglanfan/jinglanfan24.git" style="text-decoration: none">代码</a></li>
        </div>
        <div class="page3">
          <li><a href="https://jinglanfan.github.io/jinglanfan24/" style="text-decoration: none">效果</a></li>
        </div>
        <br>
        <li>第七周作业</li>
        <div class="page3">
          <li><a href="https://github.com/jinglanfan/jinglanfan2402.git" style="text-decoration: none">代码</a></li>
        </div>
        <div class="page3">
          <li><a href="https://jinglanfan.github.io/jinglanfan2402/" style="text-decoration: none">效果</a></li>
        </div>
        <br>
        <li>第八周作业</li>
        <div class="page3">
          <li><a href="https://github.com/jinglanfan/inventory-app.git" style="text-decoration: none">代码</a></li>
        </div>
        <div class="page3">
          <li><a href="https://jinglanfan.github.io/inventory-app/" style="text-decoration: none">效果</a></li>
        </div>
        <br>
        <li>第九周作业</li>
        <div class="page3">
          <li><a href="https://github.com/jinglanfan/inventory.git" style="text-decoration: none">代码</a></li>
        </div>
        <div class="page3">
          <li><a href="https://jinglanfan.github.io/inventory/" style="text-decoration: none">效果</a></li>
        </div>
        <br>
        <li>第十周作业</li>
        <div class="page4">
          <li><a href="https://github.com/jinglanfan/pricing.git" style="text-decoration: none">作业一代码</a></li>
        </div>
        <div class="page4">
          <li><a href="https://jinglanfan.github.io/pricing/" style="text-decoration: none">作业一效果</a></li>
        </div>
        <br>

        <div class="page4">
          <li><a href="https://github.com/jinglanfan/ch0401.git" style="text-decoration: none">作业二代码</a></li>
        </div>
        <div class="page4">
          <li><a href="https://jinglanfan.github.io/ch0401/" style="text-decoration: none">作业二效果</a></li>
        </div>
        <br>
        <li>&nbsp;&nbsp;&nbsp;第十一周作业</li>
        <div class="page3">
          <li><a href="https://github.com/jinglanfan/Loginapp.git" style="text-decoration: none">代码</a></li>
        </div>
        <div class="page3">
          <li><a href="https://jinglanfan.github.io/Loginapp/" style="text-decoration: none">效果</a></li>
        </div>

      </ul>
    </div>
  </div>
</body>

</html>
